<div>
    <div class="home-image">
        <img src="{{imageUrl}}"
            alt="Card image cap">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
            {{#if isAuth}}
            <div class="info-buttons">
                <a class="btn details" href="">Details</a>
                <span class="likes">3 likes</span>
            </div>
            {{/if}}
    </div>

</div>
