<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

            <nav>
                <a>Theater</a>
                <ul>
                    <li><a href="/">Home </a></li>
                    <li><a href="#">Logout</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                </ul>
            </nav>

            <section class="notifications error">
                <p>Message...</p>
            </section>
            {{{body}}}
            <footer>
                <div>© 2020
                    <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
                </div>
            </footer>

</body>

</html>