{{#if err}}
<section id="notifications">
<p>Title should be atleat 5 characters long. Article description should be at least 20 characters long...</p>
</section>
{{/if}}
<section>
    <h2>Create new article</h2>
    <div class="spacer">
        <form method="POST", action="/create/article">
            <label>Article title</label>
            <input type="text" class="title" name="title">
            <label>Content</label>
            <textarea name="description"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>